input,
select {
  border: 5px solid black;
  font-size: 40px;
  box-shadow: 2px 2px white, 2px 2px white inset, 7px 7px rgba(0,0,0,0.1), 7px 7px rgba(0,0,0,0.1) inset;
  transition: all 0.5s;
  padding: 7px;
  text-shadow: 5px 5px rgba(0,0,0,0.1);
  margin: 10px;
  border-radius: 5px;
}
input:focus {
  box-shadow: 0 0 7px 2px rgba(0,0,0,0.3);
  text-shadow: none;
}
.dropdowns {
  display: flex;
}

.output {
  background-color: rgba(0,0,0,0.1);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
